body {
    background-color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.banner {
    width: 1320px;
    height: 600px;
    flex-shrink: 0;
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url(../resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: auto;
    display: block;
    

}

.bannerText {
    position: relative;
    top: 15%;
    left: 2%;
    text-align: center;
    color: white;
    font-size: 50px;
    font-style: normal;
    line-height: 80px;
    justify-content: center;
}

.second {
    padding-top: 30px;
    margin: 20px;
    margin-bottom: 100px;
}

.secondText {
    font-size: 30px;
}

.secondText>p {
    color: red;
}

.secondText>h1 {
    color: red;
}


.third {
    justify-content: center;
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(to right, #070211 10%, rgba(7, 2, 17, 0) 100%),
        url(../resources/Vectorrr.png);
    text-align: center;
    margin: auto;
    display: block;
    border-radius: 16px;
    display: flex;
    margin-bottom: 100px;
}

.thirdText {
    flex: 1;
    padding: 20px;
    position: relative;
    text-align: left;
    left: 10%;
    color: white;
    font-style: normal;

}

.thirdText>h2 {
    font-size: 90px;
}

.thirdText>p {
    font-size: 22px;
    color: rgba(255, 255, 255, 0.80);

    font-family: Inter;
    font-style: normal;
    font-weight: 400;
}

.thirdText>h3 {
    font-size: 25px;
    font-family: Inter;
    left: 15%;
}

.thirdImage {
    flex: 1;
    position: relative;
    left: 0%;
    top: 10%;


}

.fourth {
    position: relative;
    margin: auto;
   
    width: 1320px;
    height: 482px;
    background: linear-gradient(to bottom, rgba(255,0,0,.10), white);
    margin: auto;
    margin-bottom: 100px;
    border-radius: 16px;
}
.fourthText{
    padding: 20px;
    position: relative;
  
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.fourthColor{
    color: #F00;

}
.fourthNormal{
    color: #070211;
   
}
.fourthButton{
    top: 80%;
    padding: 30px;
    background-color: red; 
      color: white; 
      padding: 10px 20px; 
      border: none; 
      border-radius: 5px;
}
.imageBox{
    position: relative;
    flex-shrink: 0;
    width: 1320px;
background: white;
margin:0 auto;
margin-bottom: 100px;
}
.imageBoxText{
    padding: 20px;
    text-align: left;
    margin-bottom: 30px;
}
.rectangle-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-gap: 10px;
    max-width: 100%; 
    margin: 0 auto;
}
.rectangle img {
    width: 100%; 
    border-radius: 5px; 
  }

  .subscribe{
    position: relative;
    width: 1320px;
height: 616px;
margin: auto;
display: block;
border-radius: 16px;
margin-bottom: 100px;
background-color: rgba(255, 0, 0, 0.05);
justify-content: center;
  }
  .subscribe-text{
    margin:30px;
  }
  .subscribeBox{
    left:25%;
    position: relative;
    width: 648px;
height: 72px;
display: block;
border-radius: 50px;
background-color: white;
text-align: center;
justify-content: center;

  }
  .subLeft{
    left: 30%;
  }


.last{
    position: relative;
    background-color: black;
    color: white;

}
